*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url('../images/bg.jpg') no-repeat  ;
    background-size: cover;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-doList{

    width: 100%;
    height: 90vh;
}
h3{
    font-size: 3rem;
    text-align: center;
}
.add{
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-around;
}
#taskName{
    width: 70%;
    height: 3rem;
    padding: 0 5px;
    font-size: 1.2rem;
}
#addTask{
    padding: .3rem 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: rgb(70, 72, 75);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#addTask:hover{
    background-color: rgb(85, 86, 88);
}
.add,.list{
    width: 75%;
}
.list{
    margin: 1rem 0;
    padding: 0 0.3rem;
    overflow: auto;
    min-height: 175px;
}
.list p{
    font-size: 18px;
    text-transform: capitalize;
}
.list li{
    list-style: none;
    border-bottom: 1px solid rgb(148, 152, 152);
    background-color: rgba(220, 231, 231,0.4);
    margin: 1rem 0;
    padding: .5rem;
    height: 3.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.list .btnsDiv{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.list .btnsDiv input{
    padding: .4rem;
    text-transform: capitalize;
    font-size: .85rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#clear{
    padding: .3rem 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: rgb(193, 31, 31);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#clear:hover{
    background-color: rgb(253, 254, 255);
    color: #000;
}

.completed{
    background-color: rgb(50, 174, 78);
}
.completed:hover{
    background-color: rgb(36, 128, 17);
}
.delete{
    background-color: rgb(236, 78, 78);
}
.delete:hover{
    background-color: rgb(191, 34, 34);
}



@media only screen and (max-width:769px){
    /* .add,.list{ */
        /* width: 85%; */
    /* } */
    .container{
        padding: 2% 0;
    }
}

@media only screen and (max-width:769px){
    .add,.list{
        width: 100%;
    }
}